<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <style>
        table, th, td {
           border: 1px solid black;
           border-collapse: collapse;

        }
        
            
     </style>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
   
    {% for student in students %}
    <tr>
    <td>{{ student.first_name}}</td>
    <td>{{ student.second_name}}</td>
    <td>{{ student.age}}</td>

    </tr>
    {% endfor %}
</table>
    
</body>
</html>